.sectionHome {
    padding: var(--padding-section) ;
    display: flex;
    align-items: center;
    flex-direction: column;
    &__logo {
        max-width: 320px;
        display: block;
        margin: 20px auto;
    }
    &__intro {
        max-width: 320px;
        text-align: center;
        margin: 20px auto;
    }
    &__details {
        padding: 0px 0px 0px 35px;
        margin: 20px auto;
        max-width: 320px;
        * { font-size: 0.9rem }
        &__item {
            i {
                left: -35px;
                top: 0;
                position: absolute;
                font-style: normal
            };
        } 
    }
    &__note {
        margin: 20px auto;
        font-size: 0.7rem;
        max-width: 320px;
    }
}

