* {
  position: relative;
  box-sizing: border-box;
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

body, #root {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  --dark: #171D31;
  --darksteel: #686862;
  --steel: #939186;
  --bone: #f9f4de;
  --white: #ffffff;
  --leaf: #65C881;
  --coral: #eab063;
  --radius-primary: 2px;
  --padding-section: 60px 50px;

  --xs: 420px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;

  --left-padding: 10%;

  color-scheme: light dark;
  color: var(--white);
  background-color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--dark);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--white);
  }
}

ul {
  list-style: none;
}

ul li {
  margin: 20px 0;
}

.section {
  position: relative;
}

.separator {
  width: 10%;
  height: 1px;
  background-color: var(--dark);
  margin: 20px auto;
}

